<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partner Form</title>
    <style>

        body {
            background-color: lightgrey;
        }

        input:required {
            border: 1px dashed red;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        #id_form-0-proof_of_agency_status {

        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>-->

</head>
<body>


<form role="form" action="" method="post">
    {% load widget_tweaks %}
    {% csrf_token %}
    {% for field in form %}
        <div class="field container">
            {% for f in field %}
                <div class="field">
                    <label class="label">
                        {{ f.label }}
                    </label>
                </div>

                <div class="control">
                    {#            {% if not f%}#} <--trying to isolate the input type=file
                    {{ f | add_class:'input is-medium is-rounded' }}
                    {#            {% endif %}#}
                </div>
                <br>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>


<script>

</script>
</body>
</html>